<div class="hero container-fluid py-5 py-lg-6" style="background-color: {{ section.settings.background_color }}">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-lg-6 text-center">
                <h1 class="mb-4" style="color: {{ section.settings.title_color }}">{{ section.settings.title }}</h1>
                <div class="mb-4" style="color: {{ section.settings.text_color }}">{{ section.settings.text }}</div>
                <a class="btn btn-outline-primary rounded-0 btn-lg" href="{{ section.settings.btn_link }}" role="button">{{ section.settings.btn_text }}</a>
                {% if section.settings.btn_count == "2" %}
                    <a class="btn btn-primary rounded-0 btn-lg" href="{{ section.settings.btn_link_2 }}" role="button">{{ section.settings.btn_text_2 }}</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% styles %}
    .hero .btn:first-of-type {
        margin-right: 5px;
    }
    
    .hero .btn:last-of-type {
        margin-left: 5px;
    }
    
    @media (min-width: 992px) {
        .hero {
          padding-top: 5rem !important;
          padding-bottom: 5rem !important;
        }
    }
{% endstyles %}

{% schema %}
{
    "name": "Hero",
    "description": "Hero section with 1 or 2 button option",
    "settings": [
        {
            "type": "color",
            "id": "background_color",
            "label": "Background Color",
            "default": "#F2F8FF"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Hero Title",
            "default": "Long headline to turn your visitors into users"
        },
        {
            "type": "color",
            "id": "title_color",
            "label": "Title Color",
            "default": "#0065F2"
        },
        {
            "type": "richtext",
            "id": "text",
            "label": "Hero Text",
            "default": "<p>Separated they live in Bookmarksgrove right at the coast of the famous Semantics, large language ocean and many more stuff and more more more</p>"
        },
        {
            "type": "color",
            "id": "text_color",
            "label": "Text Color",
            "default": "#0065F2"
        },
        {
            "type": "select",
            "id": "btn_count",
            "label": "Button Count",
            "default": "1",
            "options": [
            {
                "label": "1",
                "value": "1"
            },
            {
                "label": "2",
                "value": "2"
            }]
        },
        {
            "type": "url",
            "id": "btn_link",
            "label": "Button Link",
            "default": "#"
        },
        {
            "type": "text",
            "id": "btn_text",
            "label": "Button Text",
            "default": "Action"
        },
        {
            "type": "url",
            "id": "btn_link_2",
            "label": "Button Link 2",
            "default": "#"
        },
        {
            "type": "text",
            "id": "btn_text_2",
            "label": "Button Text 2",
            "default": "Action"
        }
    ]
}
{% endschema %}